$c-gray: #f1f5f4;
$c-dark-green: #3f5252;
$fontColor: #1c1b29;
$buttonColor: #cd4d31;
$buttonColorHover: #af3419;
$buttonColorPressed: #ea340d;
$buttonColorDisabled: #dd836f;
$fontSize: 16px;
$minWidth: 320px;
$maxWidth: 1440px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$buttonWidth: 280px;
$buttonWidthTablet: 330px;
$buttonWidthDesktop: 270px;
$basicContainerWidth: 1170px;
$containerPaddingDesktop: 55px;
$containerWidthDesktop: $basicContainerWidth + 2 * $containerPaddingDesktop;
$basicContainerWidthTablet: 690px;
$containerPaddingTablet: 39px;
$containerWidthTablet: $basicContainerWidthTablet + 2 * $containerPaddingTablet;
$basicContainerWidthPhone: 280px;
$containerPaddingPhone: 20px;
$containerWidthPhone: $basicContainerWidthPhone + 2 * $containerPaddingPhone;
